[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "2023.4.29"
pymongo = "3.11.1"
motor = "3.1.2"
confluent-kafka = "2.1.1"
pydantic = "*"

[dev-packages]
pre-commit = "3.3.1"
mypy = ""
types-requests = ""

[requires]
python_version = "3.9"
